        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="inputValidation" placeholder="Search" />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <a style="float:right;color: white;" class="btn btn-success" routerLink="/template/update" title="Create new template">Create new template</a>
            </div>
        </div>
        <hr />
        <div class="template-area">
                <div  class="card template" style="width: 18rem; margin-bottom: 20px;">
                    <img class="card-img-top" width="50" height="100" src="./assets/templates.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">test</h5>
                        <p class="card-text">abc</p>
                        <button class="btn btn-primary">Edit</button>
                    </div>
                </div>
        </div>