<h2>Sign Up</h2>
<hr />
<div class="row">
        <div class="col-md-4">
          <form #form='ngForm' autocomplete="off" (submit)="onSubmit()">
              <div class="form-group">
                  <label  class="control-label">UserName</label>
                  <input  class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="user.UserName" required />
                  <span  class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label  class="control-label">PassWord</label>
                  <input type="password" class="form-control" #PassWord="ngModel" name="Password" [(ngModel)]="user.PassWord" required />
                  <span  class="text-danger"></span>
              </div>
              <div class="form-group">
                    <label  class="control-label">Confirm PassWord</label>
                    <input type="password" class="form-control" #PassWordCf="ngModel" name="Passwordcf" [(ngModel)]="user.PassWordConfirm" required />
                    <span  class="text-danger"></span>
                </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Register</button>
              </div>
          </form>
               
        </div>
    </div>